$primary-color: #FF9900;
$primary-color-darker: darken($primary-color, 20%);
$primary-color-lighter: lighten($primary-color, 20%);
$secondary-color: #2B2B2B;
$base-color: #F5F5F5;

body {
  background-color: $secondary-color;
  font-family: 'Lato', sans-serif;
  font-weight: '400';
  font-size: 16px;
  line-height: 1.6;
}

.container-box{
  background-color: $secondary-color;
  font-family: inherit;
  color: white;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
}

.link-text {
  color: #FF9900;
  cursor: pointer;
}

.button-primary{
  border: #FF9900 1px solid;
	display: inline-block;
	font-family: inherit;
	background-color: $primary-color;
	color: white;
	text-decoration: none;
	margin: 10px;
	padding: 10px;
  border-radius: 8px;
  cursor: pointer;
	transition: 0.2s opacity;
}

.button-secondary {
  border: #FF9900 1px solid;
  background-color: rgba(255,255,255,0.2);
  color: #FF9900;
  text-decoration: none;
  text-align-last: right;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s opacity;
  white-space: nowrap;
}